body {
    background: #EFE5DC;
    background: -webkit-linear-gradient(to bottom, #EFE5DC, #d0ada7);
    background: linear-gradient(to bottom, #EFE5DC, #d0ada7);
    min-height: 100vh;
}
.btn{
    background-color: #d4a0a5;
    color: #ffffff;
}
