<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>{{liste.name}}</title>
</head>
<body>

     <a href="{% url 'mybooksapp:index'%}" class='text-dark'>
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="black" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>Zurück zur Startseite
    </a>

    <div class='justify-content-md-center'>
    <div class="d-flex justify-content-start flex-wrap">
        {%for genre in genres%}
            <div class="p-4 m-3 bg-white rounded shadow-sm text-center">
                <img src="{% static genre.icon %}" alt="image"></br>
                <a href="{% url 'mybooksapp:detail_genre' list_id genre.id%}" class="btn mt-1">{{ genre.name }}</a></br>
            </div>
        {%endfor%}

    </div>
    </div>
  
</body>
</html>